<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
    <title>Asterics AAC</title>
    <meta id="viewPortMeta" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="UWnxfeRniUm-l7GAbNdqfZQmCCaAU3HB6jGOuEHZ26k" />

    <link rel="icon" href="app/img/favicon-no-circle.svg" type="image/svg+xml">
    <link rel="icon" href="app/img/favicon-no-circle.png" type="image/png">
    <link rel="manifest" href="app/manifest.webmanifest">

    <link rel="stylesheet" href="app/css/fontawesome/css/all.css">
    <link rel="stylesheet" href="app/css/custom.css">
    <link rel="stylesheet" href="app/css/jquery-ui.min.css">
    <link rel="stylesheet" href="app/css/skeleton.css">
    <link rel="stylesheet" href="app/css/bootstrap-grid.css">
    <link rel="stylesheet" href="app/css/grid-styles.css">

    <!-- Resilient CDN Stack for Eye-Tracking Engine -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tfjs/3.21.0/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh@0.0.5/dist/facemesh.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/webgazer@3.3.0/dist/webgazer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
</head>
    
</head>
<body onload="window.loaded = true;">
<div style="display: none" aria-hidden="false">
    {{ $t('accessKey1NavigationAccessKey2Main') }}
</div>
<div id="app" class="holy-grail">
    <h1 class="sr-only">Asterics AAC</h1>
    <div id="touchElement" class="grid-container" style="z-index: 2; display: none; -webkit-touch-callout: none; -webkit-user-select: none;">
    </div>
    <audio style="display: none" id="audioPlayer" src="" preload="none"></audio>
    <video style="display: none" id="videoPlayer" src="" preload="none"></video>
    <notification-bar ref="notificationBar"></notification-bar>
    <progress-bar-modal v-show="showModal === modalTypes.MODAL_PROGRESSBAR" ref="progressBar" @close="showModal = null"></progress-bar-modal>
    <search-modal v-if="showModal === modalTypes.MODAL_SEARCH" @close="showModal = null;" :route-to-edit="Router.getCurrentView() === Router.VIEWS.GridEditView" :options="modalOptions"></search-modal>
    <message-box v-show="showModal === modalTypes.MODAL_MESSAGEBOX" ref="messageBox" @close="showModal = null"></message-box>
    <div class="grid-container grid-mask" v-if="false">
        <i class="fas fa-4x fa-spinner fa-spin" style="top: 40%;"></i>
        <div style="position: fixed; top: 50%; width: 100%; text-align: center; font-size: 2em;">
            <span>loading...</span>
        </div>
    </div>
    <div class="holy-grail-body" v-cloak>
        <div class="holy-grail-sidebar-1 hg-sidebar no-print" v-show="showSidebar">
            <div style="flex: 0 0 auto;">
                <div class="show-mobile">
                    <a tabindex="1" href="javascript:void(0)" :aria-label="$t('closeSidebar')" @click="closeSidebar()"><button tabindex="-1"><i class="fas fa-2x fa-bars inline"></i></button></a>
                </div>
                <div class="hide-mobile" style="display: inline-flex">
                    <a tabindex="1" href="javascript:void(0)" :aria-label="$t('closeSidebar')" @click="closeSidebar()" style="margin: 0.2em 0.5em 0 1.2em"><i class="fas fa-2x fa-bars inline"></i></a>
                    <a tabindex="-1" aria-hidden="true" href="javascript:void(0)" @click="toMain"><h1 class="inline hide-mobile"><img id="astericsIcon" src="app/img/asterics-aac-logo-raw.svg" height="40" alt="Asterics AAC"/></h1></a>
                </div>
            </div>

            <nav role="navigation" class="srow content" style="flex: 1 1 auto" accesskey="1">
                <div v-if="currentUser">
                    <h2 class="hide-mobile" style="margin-top: 1.5em;">{{ $t('navigation') }}</h2>
                    <br class="show-mobile" aria-hidden="true"/>
                    <ul>
                        <li><a tabindex="2" href="javascript:void(0)" @click="toMain" :aria-label="$t('mainView')"><button tabindex="-1"><i class="fas fa-2x fa-home"></i><span class="hide-mobile">{{ $t('mainView') }}</span></button></a></li>
                        <li><a tabindex="3" href="#grids" :aria-label="$t('manageGrids')"><button tabindex="-1"><i class="fas fa-2x fa-list-ul"></i><span class="hide-mobile">{{ $t('manageGrids') }}</span></button></a></li>
                        <li><a tabindex="4" href="#dictionaries" :aria-label="$t('manageDictionaries')"><button tabindex="-1"><i class="fas fa-2x fa-book"></i><span class="hide-mobile">{{ $t('manageDictionaries') }}</span></button></a></li>
                    </ul>
                </div>

                <h2 class="hide-mobile">{{ $t('users') }}</h2>
                <ul>
                    <li><a tabindex="5" href="#login" :aria-label="$t('changeUser')">
                        <button tabindex="-1">
                            <i class="fas fa-2x fa-users"></i><span v-show="!currentUser" class="hide-mobile">{{ $t('login') }}</span><span v-show="currentUser" class="hide-mobile">{{ $t('changeUser') }}</span>
                        </button></a>
                    </li>
                    <li class="hide-mobile"><a tabindex="6" href="#register" :aria-label="$t('addOnlineUser')"><button tabindex="-1"><i class="fas fa-2x fa-user-plus"></i><span class="hide-mobile">{{ $t('addOnlineUser') }}</span></button></a></li>
                    <li class="hide-mobile"><a tabindex="7" href="#add" :aria-label="$t('addOfflineUser')"><button tabindex="-1"><i class="fas fa-2x fa-user-plus"></i><span>{{ $t('addOfflineUser') }}</span></button></a></li>
                </ul>

                <br class="hide-mobile" aria-hidden="true"/>
                <ul style="margin-bottom: 0;">
                    <li v-show="currentUser"><a tabindex="8" href="#settings" :aria-label="$t('settings')"><button tabindex="-1"><i class="fas fa-2x fa-cog"></i><span class="hide-mobile">{{ $t('settings') }}</span></button></a></li>
                    <li class="hide-mobile"><a tabindex="9" href="#about" :aria-label="$t('aboutAstericsGrid')"><button tabindex="-1"><i class="fas fa-2x fa-info-circle"></i><span class="hide-mobile">{{ $t('aboutAstericsGrid') }}</span></button></a></li>
                    <li><a tabindex="10" href="#help" :aria-label="$t('help')"><button tabindex="-1" id="helpButton"><i class="fas fa-2x fa-question-circle"></i><span class="hide-mobile">{{ $t('help') }}</span></button></a></li>
                    <li class="show-mobile"><a tabindex="11" href="javascript:;" :aria-label="$t('more')" @click="moreNavigation()" id="moreNavigation"><button tabindex="-1"><i class="fas fa-2x fa-ellipsis-v"></i></button></a></li>
                </ul>
            </nav>
            <div style="flex: 0 0 auto;" id="syncVisualizationWrapper">
                <span v-show="currentUser && !isLocalUser" class="hide-mobile"><span>{{ $t('loggedInAs') }}</span> <i>{{currentUser}}</i></span>
                <span v-show="currentUser && isLocalUser" class="hide-mobile"><span>{{ $t('usingOfflineUser') }}</span> <i>{{currentUser}}</i></span>
                <span v-show="!currentUser" class="hide-mobile">{{ $t('notLoggedIn') }}</span>
                <span id="syncVisualization" v-if="currentUser && !isLocalUser" class="fa-stack fa-1x right" :title="syncState | translate">
                    <i class="fas fa-cloud fa-stack-2x" style="color: lightblue"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_SYNCINC" class="fas fa-sync-alt fa-stack-1x fa-spin"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_SYNCED" class="fas fa-check fa-stack-1x"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_STOPPED" class="fas fa-pause fa-stack-1x"></i>
                    <i v-show="syncState === constants.DB_SYNC_STATE_ONLINEONLY" class="fas fa-globe fa-stack-1x"></i>
                    <i v-show="!syncState || syncState === constants.DB_SYNC_STATE_FAIL" class="fas fa-times fa-stack-1x"></i>
                </span>
                <span id="syncVisualization2" v-if="currentUser && isLocalUser && syncState === constants.DB_SYNC_STATE_SYNCINC" class="fa-stack fa-1x right" :title="$t('cachingImages')">
                    <i class="fas fa-sync-alt fa-stack-1x fa-spin"></i>
                </span>
            </div>
        </div>
        <main role="main" class="holy-grail-content" accesskey="2">
            <!-- Main page content -->
            <div class="srow content text-content" v-if="!component">
                <div class="grid-container grid-mask">
                    <i class="fas fa-4x fa-spinner fa-spin"></i>
                </div>
            </div>
            <component v-if="component" v-bind:is="component" v-bind="properties" :key="componentKey"></component>
        </main>
    </div>
</div>

<!-- browser compatibility checks and polyfills -->
<script type="text/javascript" src='app/lib/modernizr-custom.js'></script>
<script type="text/javascript">
    // polyfill for String.replaceAll, https://stackoverflow.com/questions/1144783/how-do-i-replace-all-occurrences-of-a-string-in-javascript
    if(!String.prototype.replaceAll){Object.defineProperty(String.prototype,'replaceAll',{configurable:!0,writable:!0,enumerable:!1,value:function(search,replace){return this.replace(Object.prototype.toString.call(search)==='[object RegExp]'?search.global?search:RegExp(search.source,/\/([a-z]*)$/.exec(search.toString())[1]+'g'):RegExp(String(search).replace(/[.^$*+?()[{|\\]/g,"\\$&"),"g"),replace)}})}

    testEval("function x(a = 1){}", "default parameters")
    if(![].fill) {
        logAndRedirect("Browser doesn't support Array.fill");
    }

    checkModernizr('promises');
    checkModernizr('indexeddb');

    function checkModernizr(modernizrFeature) {
        Modernizr.on(modernizrFeature, function (result) {
            if (!result) {
                logAndRedirect(modernizrFeature)
            }
        });
    }

    function logAndRedirect(missingFeature) {
        console.warn("Browser doesn't support " + missingFeature + ".");
        window.location.replace("unsupported.html");
    }

    function testEval(evalString, msg) {
        try {
            eval(evalString);
        } catch (e) {
            console.log(e);
            logAndRedirect(msg);
        }
    }
</script>

<!-- libraries, not provided by npm -->
<script src="app/lib/jquery.min.js"></script>
<script src="app/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src='app/lib/jquery.contextMenu.min.js'></script>
<script type="text/javascript" src='app/lib/object-model.min.js'></script>
<script type="text/javascript" src='app/lib/pouchdb-8.0.1.min.js'></script>
<script type="text/javascript" src='app/lib/loglevel.min.js'></script>
<script type="text/javascript" src='app/lib/sjcl.min.js'></script>

<script type="text/javascript">
    if (Function.bind) {
        //remove RV log messages without altering RV source (forbidden by license)
        window.originalLog = console.log.bind(console);
        console.log = function () {
            if (['ResponsiveVoice r1.6.5', 'isHidden: false', 'Prerender: false', 'Configuring'].indexOf(arguments[0]) !== -1) {
                return;
            } else if (arguments[0] === 'RV: Voice support ready') {
                console.log = window.originalLog;
            } else {
                window.originalLog.apply(null, arguments);
            }
        }

        //determine time needed for JSON.parse/stringify
        /**window.originalJSONParse = JSON.parse;
        window.originalJSONStringify = JSON.stringify;
        window.parseTime = 0;

        JSON.parse = function (arguments) {
            let start = new Date().getTime();
            let result = window.originalJSONParse(arguments);
            window.parseTime += (new Date().getTime() - start);
            console.warn(window.parseTime / 1000);
            return result;
        }

        JSON.stringify = function (arguments) {
            let start = new Date().getTime();
            let result = window.originalJSONStringify(arguments);
            window.parseTime += (new Date().getTime() - start);
            console.warn(window.parseTime / 1000);
            return result;
        }*/
    }
</script>

<script>
    var rvApiKey="zGuJFLIV";
    var rvApiEndpoint = "https://texttospeech.responsivevoice.org/v1/text:synthesize";
</script>
<!--script src="https://code.responsivevoice.org/responsivevoice.js"></script-->
<script type="text/javascript" src='app/lib/responsive-voice.js'></script>

<!-- Injected Background WebGazer & Implicit Anchor Script -->
<script>
document.addEventListener("DOMContentLoaded", () => {
    const checkInterval = setInterval(async () => {
        if (typeof webgazer !== 'undefined') {
            clearInterval(checkInterval);
            try {
                await webgazer.begin();
                webgazer.showVideoPreview(true);
                webgazer.showPredictionPoints(false);

                // 1. Trigger Quick Calibration Overlay on Startup
                createCalibrationOverlay();

                // 2. Grid-Snap Gaze Listener (Eliminates Jitter)
                let dwellTimer = null;
                let lastTarget = null;
                const DWELL_TIME_MS = 1200; // Time needed to trigger a button click

                webgazer.setGazeListener((data, timestamp) => {
                    if (!data) return;

                    let x = data.x;
                    let y = data.y;

                    // Update visual feedback cursor smoothly
                    const cursor = document.getElementById('gaze-cursor-sim') || createSimulatedCursor();
                    cursor.style.left = `${x}px`;
                    cursor.style.top = `${y}px`;

                    // Find element directly under gaze prediction
                    const elementUnderGaze = document.elementFromPoint(x, y);
                    const gridButton = elementUnderGaze ? elementUnderGaze.closest('button, .grid-item, [role="button"]') : null;

                    if (gridButton) {
                        if (gridButton !== lastTarget) {
                            // Reset dwell if user looks at a new button
                            clearTimeout(dwellTimer);
                            if (lastTarget) lastTarget.classList.remove('gaze-hovered');
                            lastTarget = gridButton;
                            lastTarget.classList.add('gaze-hovered');

                            // Start dwell timer to activate click
                            dwellTimer = setTimeout(() => {
                                gridButton.click();
                                gridButton.classList.remove('gaze-hovered');
                                lastTarget = null;
                            }, DWELL_TIME_MS);
                        }
                    } else {
                        // Clear selection if looking away from buttons
                        if (lastTarget) {
                            clearTimeout(dwellTimer);
                            lastTarget.classList.remove('gaze-hovered');
                            lastTarget = null;
                        }
                    }
                });
            } catch (err) {
                console.error("WebGazer initialization error:", err);
            }
        }
    }, 200);
});

// Quick 5-Point Calibration Screen to fix initial drift
function createCalibrationOverlay() {
    const overlay = document.createElement('div');
    overlay.id = 'gaze-calibration-overlay';
    overlay.style.position = 'fixed';
    overlay.style.top = '0';
    overlay.style.left = '0';
    overlay.style.width = '100vw';
    overlay.style.height = '100vh';
    overlay.style.backgroundColor = 'rgba(0,0,0,0.85)';
    overlay.style.zIndex = '999999';
    overlay.style.display = 'flex';
    overlay.style.flexDirection = 'column';
    overlay.style.alignItems = 'center';
    overlay.style.justifyContent = 'center';
    overlay.style.color = '#fff';
    overlay.style.fontFamily = 'sans-serif';

    overlay.innerHTML = `
        <h2>Eye Tracker Calibration</h2>
        <p>Please click each target dot 3 times while looking directly at it to calibrate tracking accuracy.</p>
        <div id="calibration-target" style="width: 30px; height: 30px; background: #00ffcc; border-radius: 50%; cursor: pointer; margin-top: 40px; box-shadow: 0 0 15px #00ffcc;"></div>
        <p id="calib-status" style="margin-top: 20px;">Clicks remaining on target: 3</p>
    `;
    document.body.appendChild(overlay);

    const target = document.getElementById('calibration-target');
    const statusText = document.getElementById('calib-status');
    
    // Define 5 standard calibration spots (Corners + Center)
    const points = [
        {x: '10vw', y: '10vh'}, {x: '90vw', y: '10vh'},
        {x: '50vw', y: '50vh'},
        {x: '10vw', y: '90vh'}, {x: '90vw', y: '90vh'}
    ];
    let currentPoint = 0;
    let clickCount = 0;

    function moveTarget() {
        if (currentPoint >= points.length) {
            overlay.remove();
            return;
        }
        target.style.position = 'absolute';
        target.style.left = points[currentPoint].x;
        target.style.top = points[currentPoint].y;
        clickCount = 0;
        statusText.innerText = `Target ${currentPoint + 1} of ${points.length}: Click 3 times while staring at the dot.`;
    }

    target.addEventListener('click', (e) => {
        // Record screen position for WebGazer ridge regression training
        webgazer.recordScreenPosition(e.clientX, e.clientY, 'click');
        clickCount++;
        statusText.innerText = `Target ${currentPoint + 1}: Click count ${clickCount}/3`;

        if (clickCount >= 3) {
            currentPoint++;
            moveTarget();
        }
    });

    moveTarget();
}

function createSimulatedCursor() {
    const div = document.createElement('div');
    div.id = 'gaze-cursor-sim';
    div.style.position = 'fixed';
    div.style.width = '12px';
    div.style.height = '12px';
    div.style.backgroundColor = 'rgba(0, 255, 204, 0.7)';
    div.style.border = '2px solid white';
    div.style.borderRadius = '50%';
    div.style.pointerEvents = 'none';
    div.style.zIndex = '99998';
    div.style.transform = 'translate(-50%, -50%)';
    document.body.appendChild(div);
    return div;
}
</script>

<style>
/* Visual cue when a grid button is being hovered by gaze dwell */
.gaze-hovered {
    transform: scale(1.08) !important;
    border: 3px solid #00ffcc !important;
    background-color: rgba(0, 255, 204, 0.2) !important;
    transition: transform 0.2s ease;
}
</style>

<script type="module" src="app/build/asterics-aac.bundle.js"></script>
</body>
</html>

<script type="module" src="app/build/asterics-aac.bundle.js"></script>
</body>
</html>
